@charset "utf-8";
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img, object, embed, video {
	max-width: 100%;
}
header {
	margin-bottom: 10px;
	width: 100%;
}
header img {
	width: 100%;
}
/*Tamaño del Nav y posocion*/
nav ul li {
    display: table-cell;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 10%;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: solid;
    background-color: black;
    
}
nav li{
     color: black;
}
nav {
    display: table;
    width: 100%;
    margin: 2 auto;
    float: none;
}
nav ul {
    display: table-row;
    margin: 0;
}
nav ul li:last-of-type {
    margin-right: 10%;
}
a{
    color: white;
    font-size: larger;
}

/*Div del Home*/
div{
    width: 100%;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.buscar_texto{
    text-align: right;
    font-size: larger;
    align-items:baseline;
    width: 20%;
    size: 150px;
    margin-bottom: 10px;
}

.lupa{
    width: 1.4%;
    margin-right: 10px;
}
section img{
    display: inline;
    width: 200px;
    height: 230px;
    border-style: solid;
    border-radius: 50px ;
    border-color: black;
    margin: 5px;   
}
section a{
    text-align: center;
    align-items: center;
    color: black;
}
h1{
    text-align: center;
}
.BotonS{
    display: flex;
    justify-content: center;
    background-color: black;
    color:white;
    font-size: larger;
    
}
section{
    display: flex;
    justify-content: center;
}
.titulo{
    background-color: black;
    color: white;
    border-radius: 10px;
}
section.noticias img{
    display: inline;
    width: 500px;
    height: 500px;
    float: left;
    border-style: solid;
    border-radius: 50px ;
    border-color: black;
    margin: 5px;   
}
.noticias{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 100px;

}
.videos{
    margin-left: 100px;
    margin-right: 100px;
}
video{
    width: 1040px;
    height: 580px; 
}